# Python cache and build artifacts
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
.env

# Packaging
build/
dist/
*.egg-info/

# VSCode settings
.vscode/

# Tool caches
.pytest_cache/
.ruff_cache/

# OS-specific files
.DS_Store
Thumbs.db