pandas==2.3.3
scipy==1.17.1
psycopg2-binary==2.9.11
pytest==9.0.3
google-cloud-bigquery== 3.41.0
mysqlclient==2.2.8
snowflake-connector-python==4.4.0
google-auth==2.49.2
ruff==0.15.10
google-cloud-bigquery-storage==2.37.0
db-dtypes==1.17.0
